.jumbotron{
  text-align: center;
  font-size: 150%;
}

.jumbotron h3{
  font-size: 47px;
}

.btn{
  margin-bottom: 3%;
}

.invisible-button{
  border: none;
  color: #337ebc;
  background-color: white;
  /*text-decoration: underline;*/
}

.invisible-button:hover{
  /*border: none;*/
  /*color: purple;*/
  text-decoration: underline;
}
.link{
  color: #337ebc;
}

.url:hover{
  text-decoration: underline;
}
