<!-- member.vtl -->
<h4>Name:</h4>
<h5>$member.getName()</h5>
<h4>Personal Website:</h4>
<h5>$member.getURL()</h5>
<h4>Current Employment:</h4>
<h5>$member.getWork()</h5>
<h4>Language Competencies:</h4>
<h5>$member.getLanguages()</h5>
<h4>Current Location:</h4>
<h5>$member.getLocation()</h5>
<a href="/teams/$team.getName()" class="btn btn-success">Back to Team</a>
<!-- member.vtl -->
